<div class="container-fluid">
    <div class="text">
        <h3>Liked what you saw? Have any suggestions?</h3>
        <p>Leave a message and I will reach out to you!</p>
    </div>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-lg-12 col-xs-12">
                        <div class="form-group">
                            <input type="text" id="name" class="form-control name" formControlName="name" placeholder="Your name">
                            <span *ngIf="!feedbackForm.get('name')?.valid && feedbackForm.get('name')?.touched">
                                Please enter a valid name!
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-xs-12">
                        <div class="form-group">
                            <input type="email" id="email" class="form-control email" formControlName="email" placeholder="Your email">
                            <span *ngIf="feedbackForm.get('email')!.errors?.required && feedbackForm.get('email')?.touched">Email cannot be blank!</span>
                            <span *ngIf="feedbackForm.get('email')!.errors?.email && feedbackForm.get('email')?.touched">Please enter a valid email!</span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-xs-12">
                        <div class="form-group">
                            <textarea name="comment" id="comment" cols="10" rows="5" class="form-control" formControlName="feedback" placeholder="Leave your message here...">
                            </textarea>
                            <span *ngIf="feedbackForm.get('feedback')!.errors?.required && feedbackForm.get('feedback')?.touched">Message cannot be blank</span>
                            <span *ngIf="feedbackForm.get('feedback')!.errors?.minlength && feedbackForm.get('email')?.touched">Length should be greater than 10</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xs-12">
                        <button class="btn btn-primary" [disabled]="!feedbackForm?.valid">Submit</button>
                    </div>
                    <div class="col-lg-4 col-xs-12">
                        <button class="btn btn-primary" type="button" (click)="onReset()">Reset</button>
                    </div>
                </div>
            </form>
            <div class="success" *ngIf="success || success!==''">
                <p>{{success}}</p>
            </div>
            <div class="error" *ngIf="error || error!==''">
                <p>{{error}}</p>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
    
</div>

