<div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-xs-12">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-xs-12">
                        <img src="../../assets/Images/pic1.png" alt="Profile">
                    </div>
                    <div class="col-lg-9 col-md-9 col-xs-12">
                        <p class="footer-heading me">About Me</p>
                        <div class="about-me-content">
                            <p>Hi, I am Divya.</p>
                            <p>A seeker of knowledge, an occassional artist and also, coincidentally, a web developer.</p>
                            <p>I do the work I do because I love it. I like to make the web a better place.     Hopefully   we cross paths in the real world someday and we can make it a better place together.</p>
                            <p>Reach out to 
                                <a href = "mailto: divyz.shrivastav98@gmail.com">divyz.shrivastav98@gmail.com</a>
                            to connect!</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="footer-heading">Find Me Online</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <a href="#"><i class="fa fa-facebook-f fa-2x"></i></a>
                    </div>
                    <div class="col-xs-2">
                        <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
                    </div>
                    <div class="col-xs-2">
                        <a href="#"><i class="fa fa-google-plus fa-2x"></i></a>
                    </div>
                    <div class="col-xs-2">
                        <a href="https://www.linkedin.com/in/divya-shrivastava-1a11591b6/" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
                    </div>
                    <div class="col-xs-2">
                        <a href=""target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
                    </div>
                    <!-- <div class="col-xs-12">
                        <figure>
                            <blockquote>
                               <p>“Things aren’t always #000000 and #FFFFFF”</p>
                            </blockquote>
                            <figcaption>~HTML Proverb</figcaption>
                          </figure>
                    </div> -->
                </div>
            </div>
            <div class="col-xs-12">
                <p class="copyright">Copyright © 2021, All Rights Reserved <span class="author">Divya Shrivastava</span></p>
            </div>
        </div>
    </div>

